html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

:focus {
	outline: 1;
}

article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    text-decoration: none;
}

ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted #000;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
ul li{
    list-style: none;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.clearFix{
    clear: fixed;
}
.iteme-1{
    border-top:1px solid #ffac13;
}
.iteme-2{
    border-top:1px solid #83c44e;
}
.iteme-3{
    border-top:1px solid #2196f3;
}
.iteme-4{
    border-top:1px solid #e53935;
}
.iteme-5{
    border-top:1px solid #00c0a5;
}
.titleColor1{
    color:#ffac13;
}
.titleColor2{
    color:#83c44e;
}
.titleColor3{
    color:#2196f3;
}
.titleColor4{
    color:#e53935;
}
.titleColor5{
    color:#00c0a5;
}
.active2{
    background:#fff !important;
    border:2px solid #ff6700;
}

.bgcolor1{
    background:#E53935;
}
.bgcolor2{
    background:#83C44E;
}
.bgcolor3{
    background:#FFAC13;
}