*{
	margin: 0;
	padding: 0;
}
body{
	background: #666;
}
hr{
	height: 4px;
	background: #fff;
}
.box{
	width: 200px;
	height: 200px;
	margin: 300px auto;
	background: green;
	position: relative;
	border-radius: 50%;
}
.box .cnt-box{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	background: blue;

}
.box .cnt-box:nth-child(1){
	animation: my1 2s ease-in infinite alternate;
}
.box .cnt-box:nth-child(2){
	animation: my2 2s ease-in infinite alternate;
}
.box .cnt-box:nth-child(3){
	animation: my3 2s ease-in infinite alternate;
}
.box .cnt-box:nth-child(4){
	animation: my4 2s ease-in infinite alternate;
}
.box{
	animation: my 1.2s ease-in infinite alternate;
}
@keyframes my1{
	form{transform: scale(.2) translateX(0) rotate(0deg)}
	to{transform: scale(.2) translateX(600PX) rotate(3600deg)}
}
@keyframes my2{
	form{transform: scale(.2) translateY(0) rotate(0deg)}
	to{transform: scale(.2) translateY(600PX) rotate(3600deg)}
}
@keyframes my3{
	form{transform: scale(.2) translateX(0) rotate(0deg)}
	to{transform: scale(.2) translateX(-600PX) rotate(3600deg)}
}
@keyframes my4{
	form{transform: scale(.2) translateY(0) rotate(0deg)}
	to{transform: scale(.2) translateY(-600PX) rotate(3600deg)}
}
@keyframes my{
	form{transform: scale(.5)  rotate(0deg)}
	to{transform: scale(.5)  rotate(360deg)}
}

/* 紅旗飄揚 */
.flag-wrmper{
	width: 1200px;
	/*height: 1000px;*/
	margin: 30px auto;
	background: #fff;
	position: relative;
}
.flagpole-t{
	width: 30px;
	height: 30px;
	margin-left: 83px;
	border-radius: 10px 10px 0 0;
}
.flagpole{
	width: 15px;
	height: 800px;
	margin-left: 90px;
	
}
.flagpole-b1{
	width: 100px;
	height: 60px;
	margin-left: 50px;
}
.flagpole-b2{
	width: 200px;
	height: 60px;
}
.flagpole-t,.flagpole{
	background: #AFBCCB;
}
.flagpole-b1,.flagpole-b2{
	background: #0A3BF5;
}
#flag_bg{ 
	margin:10px; 
	height:410px; 
	width:750px; 
	background:#FF0000; 
	position:absolute;
	left: 94px;
	top: 32px; 
}
#big_star{ 
	height:104px;  
	width:104px; 
	background:#FFFF00; 
	position:absolute; 
	top:60px; 
	left:50px; 
}
.big_tool{ 
	background:#FF0000; 
	height:40px; 
	width:60px; 
	position:absolute; 
}
#angle_a{ 
	top:-12px; 
	left:-13px; 
	-moz-transform: rotate(20deg); 
	-webkit-transform: rotate(20deg); 
	-ms-transform: rotate(20deg); 
}
#angle_aa{ 
	top:-3px; 
	left:-23px; 
}
#angle_b{ 
	top:-12px; 
	right:-13px; 
	-moz-transform: rotate(-20deg); 
	-webkit-transform: rotate(-20deg); 
	-ms-transform: rotate(-20deg); 
}
#angle_bb{ 
	top:-3px; right:-23px; 
}
#angle_c{ 
	top:39px; 
	left:-34px; 
	-moz-transform: rotate(34deg); 
	-webkit-transform: rotate(34deg); 
	-ms-transform: rotate(34deg);
}
#angle_d{ 
	top:39px; 
	right:-34px; 
	-moz-transform: rotate(-33deg); 
	-webkit-transform: rotate(-33deg); 
	-ms-transform: rotate(-33deg); 
}
#angle_e{ 
	top:49px; 
	left:-35px; 
	-moz-transform: rotate(23deg); 
	-webkit-transform: rotate(23deg); 
	-ms-transform: rotate(23deg); 
}
#angle_f{ 
	top:87px; 
	left:9px; 
	-moz-transform: rotate(-35deg); 
	-webkit-transform: rotate(-35deg); 
	-ms-transform: rotate(-35deg); 
}
#angle_g{ 
	top:47px; 
	right:-34px; 
	-moz-transform: rotate(-23deg); 
	-webkit-transform: rotate(-23deg); 
	-ms-transform: rotate(-23deg); 
}
#angle_h{ 
	top:86px; 
	right:8px; 
	-moz-transform: rotate(35deg); 
	-webkit-transform: rotate(35deg); 
	-ms-transform: rotate(35deg); 
}
#angle_i{ 
	height:20px; 
	width:20px; 
	top:85px; 
	left:-5px; 
}
#angle_j{ 
	height:20px; 
	width:20px; 
	top:85px; 
	right:-4px; 
}
.small_star{ 
	height:104px; 
	width:104px; 
	background:#FFFF00; 
	position:absolute; 
}
.small_star .small_tool{ 
	background:#FF0000; 
	height:40px; 
	width:60px; 
	position:absolute; 
	overflow:hidden; 
}
.small_star .angle_a{ 
	top:-12px; 
	left:-4px;
	-moz-transform: rotate(20deg); 
	-webkit-transform: rotate(20deg); 
	-ms-transform: rotate(20deg); 
}
.small_star .angle_aa{ 
	top:-3px; 
	left:-14px; 
}
.small_star .angle_b{ 
	top:-12px; 
	right:-4px; 
	-moz-transform: rotate(-20deg); 
	-webkit-transform: rotate(-20deg); 
	-ms-transform: rotate(-20deg); 
}
.small_star .angle_bb{ 
	top:-3px; 
	right:-14px; 
}
.small_star .angle_c{ 
	top:24px; 
	left:-22px; 
	-moz-transform: rotate(34deg); 
	-webkit-transform: rotate(34deg); 
	-ms-transform: rotate(34deg); 
}
.small_star .angle_d{ 
	top:24px; 
	right:-22px; 
	-moz-transform: rotate(-33deg); 
	-webkit-transform: rotate(-33deg); 
	-ms-transform: rotate(-33deg); 
}
.small_star .angle_e{ 
	top:32px; 
	left:-20px; 
	-moz-transform: rotate(20deg); 
	-webkit-transform: rotate(20deg); 
	-ms-transform: rotate(20deg); 
}
.small_star .angle_f{ 
	top:60px; 
	left:9px; 
	-moz-transform: rotate(-35deg); 
	-webkit-transform: rotate(-35deg); 
	-ms-transform: rotate(-35deg); 
}
.small_star .angle_g{ 
	top:31px; 
	right:-20px; 
	-moz-transform: rotate(-20deg); 
	-webkit-transform: rotate(-20deg); 
	-ms-transform: rotate(-20deg); 
}
.small_star .angle_h{ 
	top:60px; 
	right:8px; 
	-moz-transform: rotate(35deg); 
	-webkit-transform: rotate(35deg); 
	-ms-transform: rotate(35deg); 
}
.small_star .angle_i{ 
	height:45px; 
	width:115px; 
	top:65px; 
	left:-5px; 
}
.small_star .angle_j{ 
	height:45px; 
	width:25px; 
	top:65px; 
	right:-4px; 
}
#flag_bg .star{ 
	height:40px; 
	width:40px; 
	position:relative; 
	overflow:hidden; 
}
#one{ 
	top:20px; 
	left:160px; 
}
#two{ 
	top:35px; 
	left:194px; 
}
#three{ 
	top:60px; 
	left:190px; 
}
#four{ 
	top:65px; 
	left:145px; 
}
#small_one,#small_two,#small_three,#small_four{ 
	margin-left:-30px; 
	margin-top:-24px; 
}
#flag_bg{
	animation: flag 1s ease-in infinite alternate;
}
@keyframes flag{
	0%{
		transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
	}
	50%{
		transform: rotateX(-20deg) rotateY(0deg) rotateZ(-20deg);
	}
	100%{
		transform: rotateX(30deg) rotateY(0deg) rotateZ(30deg);
	}
}


